<!DOCTYPE html>
<html>
  <head>
    <title>SimpleAuthenticationApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="flex items-center justify-center">
        <p class="notice text-green-400"><%= notice %></p>
        <p class="alert text-red-400"><%= alert %></p>
    </div>

    <%= yield %>
  </body>
</html>
